.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bg-color;
}
.footer__container {
  display: flex;
  align-items: baseline;
  background-color: $dark-bg-color;
}
.address {
  padding: 0;
  margin-top: 20px;
  color: $secondary-color;
  font-family: inherit;
  font-style: inherit;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.auth {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 9px;
}
.auth__item {
  &:last-child {
    margin-top: 9px;
  }
}
