.overlay {
  max-width: 1600px;
  min-height: 600px;
  @extend %centered;
  background-image: linear-gradient(to right, $bg-overlay-color, $bg-overlay-color),
    url('../images/bg_image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $bg-hero-color;
}
