.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio {
  @include centeredFlex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: -8px;
  padding: 0;
  list-style: none;
}
.portfolio__item {
  margin-left: 8px;
}
.portfolio__filter {
  @extend %button;
  padding: 6px 22px;
  color: $title-text-color;
  background-color: $secondary-bg-color;
  border-color: transparent;
  font-family: inherit;
  @include fonts(500, 16px, 1.62);
  @include transition(background-color color border-color box-shadow);
  &:hover,
  &:focus {
    color: $secondary-color;
    background-color: $accent-color;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
