.skills-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.skills {
  @include centeredFlex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: -30px;
  padding: 0;
  &__title {
    margin: 0;
    margin-bottom: 10px;
    color: $title-text-color;
    @include fonts(700, 14px, 1.14);
    text-transform: uppercase;
  }
  &__item {
    width: 270px;
    margin-left: 30px;
  }
  &__text {
    margin: 0;
  }
  &__icon-wrapper {
    @include centeredFlex;
    margin-bottom: 30px;
    justify-content: center;
    height: 120px;
    background-color: $secondary-bg-color;
    border-radius: 4px;
  }
}
