.subscribe-form {
  margin-left: 93px;
}
.subscribe-form__title {
  margin: 0;
  margin-bottom: 20px;
  color: $secondary-color;
  @include fonts(700, 16px, 1.14);
  text-transform: uppercase;
}
.subscribe-form-field {
  display: flex;
}
.subscribe-form-field__btn-icon {
  @include centeredFlex(inline-flex);
  min-width: 200px;
  padding: 10px 28px 10px 29px;
  &::after {
    content: '';
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon-send.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.subscribe-form-input {
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font: inherit;
  border: 1px solid $subscribe-color;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: $secondary-color;
  font-size: 16px;
  line-height: 1.25;
  &::placeholder {
    color: $subscribe-placeholder-color;
  }
}
